Kunal_Kachru/ClassActivity_GoogleAIstudio_ui_n8n_backend.json
{
  "name": "ClassActivity_GoogleAIstudio_ui_n8n_backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1bf92f49-883e-44d5-8bef-3d239bbdd386",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        16
      ],
      "id": "f4f61a36-3e86-4898-ad66-cc08a8609a08",
      "name": "Webhook",
      "webhookId": "1bf92f49-883e-44d5-8bef-3d239bbdd386"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=topic - {{ $json.body.topic }}\nWriting style - {{ $json.body.style }}\npost category - {{ $json.body.category }}\nLength - {{ $json.body.length }}\n\nUse there parameters to generate post",
        "options": {
          "systemMessage": "Prompt- Persona:\nYou are an expert LinkedIn Ghostwriter who has written 2,000+ viral posts for CEOs, founders, creators, and tech professionals. You deeply understand LinkedIn algorithms, storytelling, hooks, audience psychology, and content formats that drive millions of views. You specialise in creating scroll-stopping hooks, emotional storytelling, authority-building insights, and CTAs that spark engagement.\n\nTask:\nCreate a viral-style LinkedIn post based on:\nUse user messsage to get the details on Topic, style, length etc for the post.\n\nDon't use \"# and *\"\" for headers and in the post. Don't use em-dashes\n\nYour job is to craft a LinkedIn post that maximizes reach, engagement, and shares through strong hooks, relatable narratives, crisp formatting, and powerful CTAs.\n\nContext:\nThe post should feel like it was written by a top LinkedIn creator. It must capture attention in the first 2–3 seconds, use pattern-interrupt techniques, create emotional resonance, and deliver real value. Add insights, examples, frameworks, or micro-stories depending on the post type. The goal is to trigger comments, saves, and reposts.\n\nFormat:\nFollow this exact structure:\n\nDon't use \"# and *\"\" for headers and in the post. Don't use em-dashes\n\nHook (1–2 lines, punchy, curiosity-building, scroll-stopping)\n\nBody (story, insight, or breakdown depending on the post type)\n\nValue Section (actionable takeaways, lessons, or frameworks)\n\nCTA (ask a question that encourages comments, or invite people to share their thoughts)\n\nKeep paragraphs short (1–2 lines max).\n\nUse simple English, no jargon.\n\nAdd spacing for readability.\n\nDon't use # and * for headers. \n\nAdd few hashtags related to that topic maximum 4 or 5\n\nTone:\nConversational, bold, authoritative, and engaging—like top LinkedIn creators. No fluff. Every line should deliver value, emotion, or curiosity.\n\nOutput:\nA polished viral-style LinkedIn post ready to publish.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        16
      ],
      "id": "11e83471-bb6d-4a9a-8053-44cbc1336f82",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        128,
        240
      ],
      "id": "3d68c079-4cb6-4122-8030-77ef5a701141",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "e5Mr7z8jBg6Aah5m",
          "name": "OpenRouter account 7"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        16
      ],
      "id": "c47fa53c-812b-4ea5-a5aa-a0c7ec6e94d5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2580ed3d-f7cc-4ed0-a36d-36a1d3553f51",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        448
      ],
      "id": "e70e9791-34b4-44cf-ba0c-32d3a3957254",
      "name": "Webhook- post to linkedln",
      "webhookId": "2580ed3d-f7cc-4ed0-a36d-36a1d3553f51"
    },
    {
      "parameters": {
        "person": "tWEUenwuZx",
        "text": "={{ $json.body.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        176,
        448
      ],
      "id": "40e51c2d-13f4-4a63-a6ac-5b2a378904e2",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "r2uVIirSvWwLppBM",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook- post to linkedln": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b11ecd97-d189-49c5-aef9-854ebd05d95d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd90cfb646068c98423b3c598ae2f77d9f00c807967359f6ba61ccb486e88cf4"
  },
  "id": "A1rdrm71vo8qy8Hr9w_2i",
  "tags": []
}